/* Decent Defaults */

img,
video {
  width: 100%;
  height: auto;
}

body {
  background-color: black;
  font-family: "Baskervville", serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  font-size: 1.3em;
}

main {
  padding-top: 2rem;
  margin: auto;
  max-width: 65rem;
}

h1 {
  text-align: center;
  color: #e0cf4f;
  font-size: 3.75em;
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  color: black;
}

p {
  color: white;
}

figcaption {
  color: white;
}

.gabriel {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  padding: 8rem 0 10rem 0;
}

a {
  color: white;
}

.EPs {
  display: grid;
  grid-template-columns: 3, 1fr;
  grid-template-rows: 4, 1fr;
  gap: 2rem;
  grid-template-areas:
    ". one ."
    "two one three"
    "two four three"
    ". four .";
}

.EP-cover {
  height: 20rem;
  width: 20rem;
}

.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}

.bio {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem 0;
}

section.bio > figure > img {
  width: 200rem;
}

section {
  padding: 0 0 10rem 0;
}

#page-gabriel,
#page-bio {
  background-color: white;
}

#page-gabriel p {
  color: black;
}

#page-gabriel h1 {
  color: rgba(0, 0, 0, 0.1);
}

#page-gabriel h2 {
  color: black;
}

#page-gabriel h2.sub {
  color: white;
}

.overlap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.background {
  object-fit: cover;
  grid-column-start: 1;
  grid-row-start: 1;
}

.foreground {
  grid-column-start: 1;
  grid-row-start: 1;
}

#album-info {
  justify-content: center;
  text-align: center;
}

.gabriel-2 {
  max-width: 20rem;
  display: flex;
}

#tracklist {
  display: flex;
  flex-direction: row;
}

iframe {
  align-content: center;
}

#page-bio p {
  color: black;
}

#page-bio h1 {
  color: rgba(0, 0, 0, 0.1);
}

#page-bio h2 {
  color: black;
}

#page-bio h2.sub {
  color: white;
}

/* Mobile Only */
@media (max-width: 47.9375em) {
  .gabriel {
    display: flex;
    flex-direction: column;
  }
}
